<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Website</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here for projects</p>
    {{> footer}}
  </body>
</html>
